.field {
    display: flexbox;
    background-image: url(/assets/img/zelda\ screen.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1600px;
    height: 1500px;
}

.cat {
    position: absolute;
    left: 400px;
    top: 350px;
    width: 100px;
    animation: catrun 10s infinite;
}

.dog {
    position: absolute;
    left: 350px;
    top: 320px;
    width: 100px;
    animation: dogrun 10s 0.5s infinite;
}

@keyframes catrun {
    0% {
        left: 400px;
        top: 350px;
    }

    25% {
        left: 1200px;
        top: 350px
    }

    50% {
        left: 1200px;
        top: 720px;
    }

    75% {
        left: 310px;
        top: 720px;
    }

    90% {
        left: 310px;
        top: 350px;
    }
    100% {
        left: 400px;
    }
}

@keyframes dogrun {
    0% {
        left: 350px;
        top: 320px;
    }

    30% {
        left: 1230px;
        top: 320px;
    }

    55% {
        left: 1230px;
        top: 690px;
    }

    80% {
        left: 340px;
        top: 690px;
    }

    95% {
        left: 340px;
        top: 320px;
    }
    100% {
        left: 350px;
    }
}